nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   padding: 15px 15px;
   background-color: $header-bg-color;
   color: $partialsText-color;

   h1 {
      font-size: 1.75rem;
      font-weight: 400;
   }

   ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
   }

   li {
      list-style-type: none;
      padding-left: 0.6em;
      font-size: 15px;
   }
}
