@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
   font-family: $font-family;
   margin: 0;
   padding: 0;

   a:link,
   a:hover,
   a:visited,
   a:active {
      text-decoration: none;
      color: $titleText-color;
   }
}
