// Text Color
$titleText-color: #212121;
$disabledText-color: #b0bec5;
$partialsText-color: #ffffff;

// Background Color
$bg-color-1: #05386b;
$bg-color-2: #379683;
$bg-color-3: #5cdb95;
$bg-color-4: #8ee4af;
$bg-color-5: #edf5e1;

// Text
$font-family: 'Poppins', sans-serif;
$h1-font-size: 1.5rem;
