// Text Color
$titleText-color: #212121;
$disabledText-color: #b0bec5;
$partialsText-color: #ffffff;

// Background Color
$footer-bg-color: #5cdb95;
$header-bg-color: #05386b;

// Text
$font-family: 'Poppins', sans-serif;
$h1-font-size: 1.5rem;
